Testcase occurrences inside scope versions are marked
bold "**X**" for required testcases (target _main_) and
plain "x" for recommended testcases (with the specific target in the tooltip).

Version numbers are suffixed by a symbol depending on state:
\* for _draft_, † for _warn_ (soon to be deprecated), and †† for _deprecated_.

{% if results | length > 1 %}
Jump to

{# assume that there is just one scope for each subject (the same one) -#}
{% set _sr = results.values() | first %}{% set scopeuuid = _sr.keys() | first -%}
{% for subject, subject_result in results.items() -%}
- [{{subject}}](#{{subject}}) {{ subject_result[scopeuuid] | summary }}
{% endfor %}
{% endif %}
{% for subject, subject_result in results.items() -%}
{# omit h1 title here because we can only have one of those,
   and the html wrapper template will add one anyway -#}
{% for scopeuuid, scope_result in subject_result.items() -%}
<a name="{{ subject }}"></a>
## {{ subject }}: {{ scope_result.name }}

- [spec overview]({{ scope_url(scopeuuid) }})

{% if not scope_result.relevant -%}

No recent test results available.

{% else %}

{% for cat, val in (('FAILED', -1), ('Aborted', 0), ('Missing', None), ('Passed', 1)) -%}
{% set bucket = scope_result.buckets[val] -%}
{% if bucket -%}
### {{cat}} testcases

{% if val == -1 %}Note: recommended testcases (marked lower-case x) do not count into the
overall result of a version.{% endif %}

| testcase id |{% if val is not none %} reported on |{% endif %}{% for version in scope_result.relevant %} {{ version }}{{ scope_result.versions[version].validity | validity_symbol }} |{% endfor %} description |
|---|{% if val is not none %}---|{% endif %}{% for version in scope_result.relevant %}---|{% endfor %}---|
{% for testcase_id in bucket -%}
{% set testcase = scope_result.testcases[testcase_id] -%}
{% set res = scope_result.results[testcase_id] if testcase_id in scope_result.results else dict(result=0) -%}
| [{{ testcase_id }}]({{ testcase.url }}) {# -#}
{%- if val is not none -%}
| {% if res.report %}[{{ res.checked_at | short_isodate }}]({{ report_url(res.report, version, testcase_id) }}) { title="{{ res.report }} {{ res.checked_at }}" }{% endif %} {# -#}
{%- endif %}{# val is not none -#}
{% for version in scope_result.relevant %}| {%
set tgt = scope_result.versions[version].tc_target[testcase_id]
%}{% if tgt == 'main' %}**X** { title="main" }{% elif tgt %}x { title="{{ tgt }}" }{% endif %} {% endfor -%}
| {{ testcase.description | trim }} |
{% endfor %}{# testcase #}
{% endif %}{# bucket nonempty -#}
{% endfor %}{# categories #}

{% endif %}{# results available -#}
{% endfor %}{# scope -#}
{% endfor %}{# subject -#}
