{#
we could of course iterate over results etc., but hardcode the table (except the actual results, of course)
for the time being to have the highest degree of control
#}
<table>
    <tr><th>Name</th><th>Description</th><th>Operator</th><th>SCS-compatible IaaS</th><th>HealthMon</th></tr>
    <tr><td><a href="https://github.com/SovereignCloudStack/docs/blob/main/community/cloud-resources/plusserver-gx-scs.md">gx-scs</a></td><td>Dev environment provided for SCS &amp; GAIA-X context</td><td>plusserver GmbH</td><td>{{
        results['gx-scs']['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
    }}</td><td><a href="https://health.gx-scs.sovereignit.cloud:3000/">HM</a></td></tr>
    <tr><td><a href="https://cnds.io/">CNDS</a></td><td>Public cloud for customers</td><td>artcodix UG</td><td>{{
        results.artcodix['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
    }}</td><td><a href="https://ohm.muc.cloud.cnds.io/">HM</a></td></tr>
    <tr><td><a href="https://www.plusserver.com/en/products/pluscloud-open">pluscloud open</a><br>- prod1<br>- prod2<br>- prod3<br>- prod4</td><td>Public cloud for customers (4 regions)</td><td>plusserver GmbH</td><td>&nbsp;<br />{{
    results['pco-prod1']['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
}}<br />{{
    results['pco-prod2']['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
}}<br />{{
    results['pco-prod3']['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
}}<br />{{
    results['pco-prod4']['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
}}</td><td>&nbsp;<br />
<a href="https://health.prod1.plusserver.sovereignit.cloud:3000/d/9ltTEmlnk/openstack-health-monitor2?orgId=1&amp;var-mycloud=plus-pco">HM1</a><br />
<a href="https://health.prod1.plusserver.sovereignit.cloud:3000/d/9ltTEmlnk/openstack-health-monitor2?orgId=1&amp;var-mycloud=plus-prod2">HM2</a><br />
<a href="https://health.prod1.plusserver.sovereignit.cloud:3000/d/9ltTEmlnk/openstack-health-monitor2?orgId=1&amp;var-mycloud=plus-prod3">HM3</a><br />
<a href="https://health.prod1.plusserver.sovereignit.cloud:3000/d/9ltTEmlnk/openstack-health-monitor2?orgId=1&amp;var-mycloud=plus-prod4">HM4</a></td></tr>
    <tr><td>PoC KDO</td><td>Cloud PoC for FITKO</td><td>KDO Service GmbH / OSISM GmbH</td><td>{{
        results['poc-kdo']['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
    }}</td><td>(soon)</td></tr>
    <tr><td>PoC WG-Cloud OSBA</td><td>Cloud PoC for FITKO</td><td>Cloud&amp;Heat Technologies GmbH</td><td>{{
        results['poc-wgcloud']['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
    }}</td><td><a href="https://health.poc-wgcloud.osba.sovereignit.cloud:3000/d/9ltTEmlnk/openstack-health-monitor2?var-mycloud=poc-wgcloud&amp;orgId=1">HM</a></td></tr>
    <tr><td><a href="https://regio.digital">REGIO.cloud</a></td><td>Public cloud for customers</td><td>OSISM GmbH</td><td>{{
        results['regio-a']['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
    }}</td><td><a href="https://apimon.services.regio.digital/public-dashboards/17cf094a47404398a5b8e35a4a3968d4?orgId=1&amp;refresh=5m">HM</a></td></tr>
    <tr><td><a href="https://www.syseleven.de/en/products-services/openstack-cloud/">syseleven</a><br>- dus2<br>- ham1</td><td>Public OpenStack Cloud (2 SCS regions)</td><td>SysEleven GmbH</td><td>&nbsp;<br />{{
    results['syseleven-dus2']['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
}}<br />{{
    results['syseleven-ham1']['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
}}</td><td>&nbsp;<br />
(soon)<br />
(soon)</td></tr>
    <tr><td><a href="https://www.noris.de/wavestack-cloud/">Wavestack</a></td><td>Public cloud for customers</td><td>noris network AG/Wavecon GmbH</td><td>{{
        results.wavestack['50393e6f-2ae1-4c5c-a62c-3b75f2abef3f'] | passed or '–'
    }}</td><td><a href="https://health.wavestack1.sovereignit.cloud:3000/">HM</a></td></tr>
</table>
