{#
we could of course iterate over results etc., but hardcode the table (except the actual results, of course)
for the time being to have the highest degree of control
-#}

The following tables show environments that are regularly checked for SCS compliance. A distinction is made between certified and non-certified environments. [Certified environments](#certified-environments) are officially approved by the SCS certification assessment body and must maintain compliance throughout the validity period of the certification. [Non-certified environments](#non-certified-environments) are listed on a voluntary basis to demonstrate their compliance for potential future certification or internal purposes.

The columns "SCS-compatible IaaS"/"SCS-compatible KaaS" show the latest compliance status of the environment for the tested scope version. The scope version is suffixed by a symbol depending on the state of the scope: * for _draft_, † for _warning_ (soon to be deprecated), and †† for _deprecated_. Clicking on the compliance status links directly to the detailed testing report for the environment.

### Certified environments

These environments are officially approved by the SCS certification assessment body according to the standard [SCS-0004](https://docs.scs.community/standards/global/scs-0004). Clicking on the name in the first column links to the official certification status page.

#### Certified SCS-compatible IaaS

This is a list of officially approved IaaS environments that are tested regularly against the certificate scope [SCS-compatible IaaS](https://docs.scs.community/standards/scs-compatible-iaas/).

{% set iaas = 'scs-compatible-iaas' -%}
| Name  | Description  | Operator  | SCS-compatible IaaS  | HealthMon  |
|-------|--------------|-----------|----------------------|:----------:|
| [Cloud&amp;Heat IaaS](https://sovereigncloudstack.org/en/certified-solution/cloud-heat/) | Public cloud for customers (1 SCS region) | Cloud&amp;Heat Technologies GmbH |
{#- #} [{{ results | pick(iaas, 'cah-dd8a') | summary }}]({{ detail_url('cah-dd8a', iaas) }}) {# -#}
| n/a |
| [CNDS](https://sovereigncloudstack.org/en/certified-solution/cnds-public-cloud/) | Public cloud for customers (2 SCS regions) | artcodix GmbH |
{#- #} [{{ results | pick(iaas, 'group-artcodix') | summary }}]({{ detail_url('group-artcodix', iaas) }}) {# -#}
| [HM](https://ohm.muc.cloud.cnds.io/) |
| [REGIO.cloud](https://sovereigncloudstack.org/en/certified-solution/osism-gmbh/) | Public cloud for customers (1 SCS region) | OSISM GmbH |
{#- #} [{{ results | pick(iaas, 'regio-a') | summary }}]({{ detail_url('regio-a', iaas) }}) {# -#}
| [HM](https://apimon.services.regio.digital/public-dashboards/17cf094a47404398a5b8e35a4a3968d4?orgId=1&refresh=5m) |
| [ScaleUp Open Cloud](https://sovereigncloudstack.org/en/certified-solution/scaleup-technologies-gmbh-co-kg/) | Public cloud for customers (1 SCS region) | ScaleUp Technologies GmbH & Co. KG |
{#- #} [{{ results | pick(iaas, 'scaleup-occ2') | summary }}]({{ detail_url('scaleup-occ2', iaas) }}) {# -#}
| [HM](https://health.occ2.scaleup.sovereignit.cloud) |
{% if unverified -%}
{# this section is currently empty -#}
{% endif %}

#### Certified SCS-compatible KaaS

This is a list of officially approved KaaS environments that are tested regularly against the certificate scope [SCS-compatible KaaS](https://docs.scs.community/standards/scs-compatible-kaas/).

{% set kaas = 'scs-compatible-kaas' -%}
| Name  | Description  | Operator  | SCS-compatible KaaS  |
|-------|--------------|-----------|----------------------|
| [noris Sovereign Cloud (nSC)](https://sovereigncloudstack.org/en/certified-solution/noris-network-ag/) | Public KaaS cloud based on Gardener (1 SCS configuration) | noris network AG |
{#- #} [{{ results | pick(kaas, 'group-noris') | summary }}]({{ detail_url('group-noris', kaas) }}) {# -#}
|
| [ScaleUp Open Cloud](https://sovereigncloudstack.org/en/certified-solution/scaleup-open-cloud/) | Public KaaS cloud based on Gardener (1 SCS configuration) | ScaleUp Technologies GmbH & Co. KG |
{#- #} [{{ results | pick(kaas, 'group-scaleup') | summary }}]({{ detail_url('group-scaleup', kaas) }}) {# -#}
|
| [Syself Autopilot](https://sovereigncloudstack.org/en/certified-solution/syself-gmbh/) | KaaS offering based on ClusterStacks (1 SCS configuration) | Syself GmbH |
{#- #} [{{ results | pick(kaas, 'group-syself') | summary }}]({{ detail_url('group-syself', kaas) }}) {# -#}
|

### Non-certified environments

#### SCS-compliant IaaS

This is a list of IaaS environments that are tested regularly against the scope [SCS-compatible IaaS](https://docs.scs.community/standards/scs-compatible-iaas/). Although these environments are not officially certified, operators voluntarily list them to demonstrate their compliance.

{% set iaas = 'scs-compatible-iaas' -%}
| Name  | Description  | Operator  | SCS-compatible IaaS  | HealthMon  |
|-------|--------------|-----------|----------------------|:----------:|
| [aov.cloud](https://www.aov.de/) | Community cloud for customers (1 SCS region) | aov IT.Services GmbH |
{#- #} [{{ results | pick(iaas, 'aov-cloud') | summary }}]({{ detail_url('aov-cloud', iaas) }}) {# -#}
| [HM](https://health.aov.cloud/) |
| [CC@RRZE](https://cc.rrze.de/) | Community Compute Cloud (CC) for [FAU](https://www.fau.de/) and Bavaria (1 SCS region) | Erlangen National High Performance Computing Center (NHR@FAU) & Regionales Rechenzentrum Erlangen (RRZE) |
{#- #} [{{ results | pick(iaas, 'cc-rrze') | summary }}]({{ detail_url('cc-rrze', iaas) }}) {# -#}
| (soon) |
| [noris Sovereign Cloud (nSC)](https://www.noris.de/en/it-services/cloud-services/cloud-solutions-for-enterprise-companies/noris-sovereign-cloud/) | Public cloud for customers (1 SCS region) | noris network AG |
{#- #} [{{ results | pick(iaas, 'nsc-iaas') | summary }}]({{ detail_url('nsc-iaas', iaas) }}) {# -#}
| [HM](https://healthmon.infra.noris.cloud/d/9ltTEmlnk/openstack-health-monitor-noris-nsc-region-nbg?var-mycloud=nsc) |
| [pluscloud open](https://www.plusserver.com/en/products/pluscloud-open) | Public cloud for customers (4 SCS regions) | plusserver GmbH |
{#- #}[{{ results | pick(iaas, 'group-pco-prod') | summary }}]({{ detail_url('group-pco-prod', iaas) }}) {# -#}
| [HM1](https://health.prod1.plusserver.sovereignit.cloud:3000/d/9ltTEmlnk/openstack-health-monitor2?orgId=1&var-mycloud=plus-pco) [HM2](https://health.prod1.plusserver.sovereignit.cloud:3000/d/9ltTEmlnk/openstack-health-monitor2?orgId=1&var-mycloud=plus-prod2) [HM3](https://health.prod1.plusserver.sovereignit.cloud:3000/d/9ltTEmlnk/openstack-health-monitor2?orgId=1&var-mycloud=plus-prod3) [HM4](https://health.prod1.plusserver.sovereignit.cloud:3000/d/9ltTEmlnk/openstack-health-monitor2?orgId=1&var-mycloud=plus-prod4) |
| [scs2](https://docs.scs.community/community/cloud-resources/plusserver-gx-scs) | Dev/Test/Demo environment (2nd gen) provided for SCS & GAIA-X context (1 SCS region) | plusserver GmbH |
{#- #} [{{ results | pick(iaas, 'scs2') | summary }}]({{ detail_url('scs2', iaas) }}) {# -#}
| [HM](https://health.prod1.plusserver.sovereignit.cloud:3000/d/9ltTEmlnk/openstack-health-monitor2?orgId=1&refresh=5m&var-mycmd=All&var-mymethod=All&var-mywait=All&var-mybench=All&var-mycloud=gx-scs2) |
| [syseleven](https://www.syseleven.de/en/products-services/openstack-cloud/) | Public OpenStack Cloud (2 SCS regions) | SysEleven GmbH |
{#- #} [{{ results | pick(iaas, 'group-syseleven') | summary }}]({{ detail_url('group-syseleven', iaas) }}) {# -#}
| (soon) |
{% if unverified -%}
{# this section is currently empty -#}
{% endif %}
