## General info

{% if report.run %}{% set uuid = report.run.uuid %}{% set scopeuuid = report.spec.uuid %}{%
else %}{% set uuid = report.uuid %}{% set scopeuuid = report.scope %}{% endif -%}
- uuid: [{{ uuid }}]({{ report_url(uuid, download=True) }})
- creator: {{ report.creator }}
- subject: {{ report.subject }}
- scope: [{{ scope_name(scopeuuid) }}]({{ scope_url(scopeuuid) }})
- checked at: {{ report.checked_at }}

{% if report.tests -%}
## Tests
{% for resultid, resultdata in report.tests.items() | sort %}
- {{ resultid }}: {{ resultdata.result | verdict_check }}{% if not resultdata._inlog %}
  {: #{{ resultid }} } {% endif %}
{%- endfor -%}
{% endif %}
{% if report.log %}
## Log{%if redacted %} (redacted){%endif%} {: #log }

{% for line in report.log %}
- {% if line.split(':', 1)[0].lower() in ('warning', 'error', 'critical') %}**_`{{line}}`_**{%
  elif line.startswith('INFO: *** ') %}{% if 'PASS' in line %} `{{line}}` {% else %} **`{{line}}`** {% endif %} 
  {: #{{line.split()[2]}} }{%
  else %}{% for line0 in line.splitlines() %}`{{line0}}`{%if not loop.last%}<br>{%endif%}{% endfor %}{% endif %}
{%- endfor %}

{% endif %}

{% if redacted %}
» [show unredacted (requires login) 🔒]({{report_url(uuid, full=True)}}#{{ invid }})
{% endif %}
