*                      @depressiveRobot @fkr @garloff	

/compliance-monitor/   @depressiveRobot

/Tests/                @depressiveRobot

# Members of the Project Board are the owners of the Community
# Governance - see: 
# https://docs.scs.community/community/governance/project-board
/Community-Governance/ @SovereignCloudStack/project-board

