*                      @mbuechse @depressiveRobot @fkr @garloff	

/compliance-monitor/   @mbuechse @depressiveRobot

/Tests/                @mbuechse @depressiveRobot

# Members of the Project Board are the owners of the Community
# Governance - see: 
# https://docs.scs.community/community/governance/project-board
/Community-Governance/ @fkr @matofeder @garloff @jschoone @berendt

