## Configuration file for the K8s Version Recency Test

logging:
  level: INFO
  version: 1
  disable_existing_loggers: False
  formatters:
    k8s-node-distribution-check:
      format: "%(levelname)s: %(message)s"
  handlers:
    console:
      class: logging.StreamHandler
      formatter: k8s-node-distribution-check
      stream: ext://sys.stdout
    file:
      class: logging.handlers.WatchedFileHandler
      formatter: k8s-node-distribution-check
      filename: MY-LOG-FILE-NAME.log
  root: # Configuring the default (root) logger is highly recommended
    handlers: [console]
  loggers:
    k8s-node-distribution-check:
      handlers: [console, file]
      propagate: no