---
clouds:
  betacloud:
    profile: betacloud
    auth:
      username: USERNAME
      project_name: PROJECT
      project_domain_name: DOMAIN
      user_domain_name: DOMAIN
  pluscloudopen:
    profile: pluscloudopen
    auth:
      username: USERNAME
      project_name: PROJECT
      project_domain_name: DOMAIN
      user_domain_name: DOMAIN
  gx-scs:
    profile: gx-scs
    auth:
      username: u500924-USERNAME
      project_name: p500924-PROJECT
      project_domain_name: d500924
      user_domain_name: d500924
