# K8s manifest summary

| | |
| --- | --- |
{% for repo in repos -%}
| [{{ repo.name }}](https://github.com/SovereignCloudStack/{{ repo.name }}) | ![Smoke test](https://github.com/SovereignCloudStack/{{ repo.name }}/workflows/CI/badge.svg) |
{% endfor %}
