.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
    .modalContent {
        height: 100%;
    }
}

.modalContent {
    max-height: 100%;
    max-width: 100%;
    width: 500px;
    background-color: #fff;
}

.modalTitle {
    padding: 32px;
    border-bottom: #eee 2px solid;
}

.modalDescription {
    padding: 32px;
}

.modalH2 {
    margin: 0;
}

.buttonBox {
    text-align: left;
}
