---
- project:
    name: SovereignCloudStack/standards
    default-branch: main
    merge-mode: "squash-merge"
    periodic-daily:
      jobs:
        - scs-check-all
    periodic-hourly:
      jobs:
        - scs-check-gx-scs-main
    post:
      jobs:
        - scs-check-gx-scs
    check:
      jobs:
        - scs-check-adr-syntax
- job:
    name: scs-check-adr-syntax
    parent: base
    nodeset: pod-fedora-40
    pre-run: playbooks/pre.yaml
    run: playbooks/adr_syntax.yaml
- job:
    name: scs-check-gx-scs
    parent: base
    secrets:
     - name: clouds_conf
       secret: SECRET_STANDARDS
    nodeset: pod-fedora-40
    vars:
      preset: default
    pre-run:
     - playbooks/pre.yaml
     - playbooks/pre_cloud.yaml
    run: playbooks/compliance_check.yaml
- job:
    name: scs-check-gx-scs-main
    parent: scs-check-gx-scs
    branches: main
- job:
    name: scs-check-all
    parent: scs-check-gx-scs-main
    vars:
      preset: all
