---
clouds:
  scs2:
    auth:
      auth_url: https://scs2.api.pco.get-cloud.io:5000/
      application_credential_id: "{{ clouds_conf.scs2_ac_id }}"
      application_credential_secret: "{{ clouds_conf.scs2_ac_secret }}"
    region_name: "scs2"
    interface: "public"
    identity_api_version: 3
    auth_type: "v3applicationcredential"
  artcodix:
    interface: public
    identity_api_verion: 3
    auth_type: "v3applicationcredential"
    #region_name: "MUC"
    auth:
      auth_url: https://api.dc1.muc.cloud.cnds.io:5000/
      application_credential_id: "{{ clouds_conf.cnds_ac_id }}"
      application_credential_secret: "{{ clouds_conf.cnds_ac_secret }}"
      #project_id: 225a7363dab74b69aa1e3f744aced109
  cc-rrze:
    region_name: "DE-ERL"
    interface: "public"
    identity_api_version: 3
    auth_type: "v3applicationcredential"
    auth:
      auth_url: https://api.cc.rrze.de:5000
      application_credential_id: "{{ clouds_conf.cc_rrze_ac_id }}"
      application_credential_secret: "{{ clouds_conf.cc_rrze_ac_secret }}"
  pco-prod1:
    region_name: "prod1"
    interface: "public"
    identity_api_version: 3
    auth:
      auth_url: https://prod1.api.pco.get-cloud.io:5000
      application_credential_id: "{{ clouds_conf.pco_prod1_ac_id }}"
      application_credential_secret: "{{ clouds_conf.pco_prod1_ac_secret }}"
    auth_type: "v3applicationcredential"
  pco-prod2:
    region_name: "prod2"
    interface: "public"
    identity_api_version: 3
    auth:
      auth_url: https://prod2.api.pco.get-cloud.io:5000
      application_credential_id: "{{ clouds_conf.pco_prod2_ac_id }}"
      application_credential_secret: "{{ clouds_conf.pco_prod2_ac_secret }}"
    auth_type: "v3applicationcredential"
  pco-prod3:
    region_name: "prod3"
    interface: "public"
    identity_api_version: 3
    auth:
      auth_url: https://prod3.api.pco.get-cloud.io:5000
      application_credential_id: "{{ clouds_conf.pco_prod3_ac_id }}"
      application_credential_secret: "{{ clouds_conf.pco_prod3_ac_secret }}"
    auth_type: "v3applicationcredential"
  pco-prod4:
    region_name: "prod4"
    interface: "public"
    identity_api_version: 3
    auth:
      auth_url: https://prod4.api.pco.get-cloud.io:5000
      application_credential_id: "{{ clouds_conf.pco_prod4_ac_id }}"
      application_credential_secret: "{{ clouds_conf.pco_prod4_ac_secret }}"
    auth_type: "v3applicationcredential"
  poc-wgcloud:
    interface: public
    identity_api_verion: 3
    auth_type: "v3applicationcredential"
    #region_name: default
    auth:
      auth_url: https://identity.l1a.cloudandheat.com/v3
      application_credential_id: "{{ clouds_conf.poc_wgcloud_ac_id }}"
      application_credential_secret: "{{ clouds_conf.poc_wgcloud_ac_secret }}"
      #project_id: 9adb8fc81ba345178654cee5cb7f1464
  regio-a:
    region_name: "RegionA"
    interface: "public"
    identity_api_version: 3
    auth:
      auth_url: https://keystone.services.a.regiocloud.tech/v3/
      application_credential_id: "{{ clouds_conf.regio_a_ac_id }}"
      application_credential_secret: "{{ clouds_conf.regio_a_ac_secret }}"
    auth_type: "v3applicationcredential"
  scaleup-occ2:
    auth_type: v3applicationcredential
    auth:
      auth_url: https://keystone.occ2.scaleup.cloud
      application_credential_id: "{{ clouds_conf.scaleup_occ2_ac_id }}"
      application_credential_secret: "{{ clouds_conf.scaleup_occ2_ac_secret }}"
    region_name: "RegionOne"
    interface: "public"
    identity_api_version: 3
  syseleven-dus2:
    interface: public
    identity_api_verion: 3
    auth_type: "v3applicationcredential"
    region_name: dus2
    auth:
      auth_url: https://keystone.cloud.syseleven.net:5000/v3
      application_credential_id: "{{ clouds_conf.syseleven_dus2_ac_id }}"
      application_credential_secret: "{{ clouds_conf.syseleven_dus2_ac_secret }}"
  syseleven-ham1:
    interface: public
    identity_api_verion: 3
    auth_type: "v3applicationcredential"
    region_name: ham1
    auth:
      auth_url: https://keystone.cloud.syseleven.net:5000/v3
      application_credential_id: s11auth
      application_credential_id: "{{ clouds_conf.syseleven_ham1_ac_id }}"
      application_credential_secret: "{{ clouds_conf.syseleven_ham1_ac_secret }}"
  wavestack:
    interface: "public"
    identity_api_version: 3
    auth:
      auth_url: https://api.wavestack.de:5000
      application_credential_id: "{{ clouds_conf.wavestack_ac_id }}"
      application_credential_secret: "{{ clouds_conf.wavestack_ac_secret }}"
    auth_type: "v3applicationcredential"
