---
- name: Prepare cloud config and ensure clean env
  hosts: all
  roles:
    - role: ensure-pip  # https://zuul-ci.org/docs/zuul-jobs/latest/python-roles.html#role-ensure-pip
    - role: bindep # https://zuul-ci.org/docs/zuul-jobs/latest/general-roles.html#role-bindep
  tasks:
    - name: Create cloud config dir
      ansible.builtin.file:
        path: "~/.config/openstack"
        state: directory
        recurse: true
        mode: "0700"

    - name: Create cloud config file
      ansible.builtin.template:
        src: "clouds.yaml.j2"
        dest: "~/.config/openstack/clouds.yaml"
        mode: "0600"
      no_log: true

    - name: Create signing key file
      ansible.builtin.copy:
        # the secrets are usually stripped of whitespace, but the final newline is essential here
        content: "{{ clouds_conf.zuul_ci_signing_key + '\n' }}"
        dest: "~/Tests/.secret/keyfile"
        mode: "0600"

    - name: Create basic_auth token file
      ansible.builtin.copy:
        content: "{{ clouds_conf.zuul_ci_basic_auth }}"
        dest: "~/Tests/.secret/tokenfile"
        mode: "0600"

    - name: Clean up any lingering resources from previous run
      ansible.builtin.shell: >
        python3 ~/Tests/scs-test-runner.py --config ~/Tests/config.toml --debug cleanup --preset {{ preset }}
      changed_when: true
