name: "Compliance IaaS v4 of poc-kdo"

on:
  # Trigger compliance check every day at 4:22 UTC
  schedule:
    - cron:  '22 4 * * *'
  # Trigger compliance check after Docker image has been built
  workflow_run:
    workflows: [Build and publish scs-compliance-check Docker image]
    types:
      - completed
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check-poc-wgcloud:
    uses: ./.github/workflows/scs-compliance-check-with-application-credential.yml
    with:
      version: v4
      layer: iaas
      cloud: "poc-kdo"
      secret_name: "OS_PASSWORD_POC_KDO"
    secrets: inherit
