name: "Compliance IaaS v4 of syseleveni dus2 region"

on:
  # Trigger compliance check every day at 4:14 UTC
  schedule:
    - cron:  '14 4 * * *'
  # Trigger compliance check after Docker image has been built
  workflow_run:
    workflows: [Build and publish scs-compliance-check Docker image]
    types:
      - completed
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check-syseleven-dus2:
    uses: ./.github/workflows/scs-compliance-check-with-application-credential.yml
    with:
      version: v4
      layer: iaas
      cloud: "syseleven-dus2"
      secret_name: "OS_PASSWORD_SYSELEVEN_DUS2"
    secrets: inherit
