name: "Compliance IaaS v3 of pco-prod3"

on:
  # Trigger compliance check every day at 4:30 UTC
  schedule:
    - cron:  '30 4 * * *'
  # Trigger compliance check after Docker image has been built
  workflow_run:
    workflows: [Build and publish scs-compliance-check Docker image]
    types:
      - completed
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check-pco-prod3:
    uses: ./.github/workflows/scs-compliance-check-with-application-credential.yml
    with:
      version: v3
      layer: iaas
      cloud: "pco-prod3"
      secret_name: "OS_PASSWORD_PCOPROD3"
    secrets: inherit
